body {
    font-family: Arial, sans-serif;
    background-color: rgb(168, 165, 165);
    color: black;
    margin: 30px;
}

h1 {
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    text-align: left;
}

h2 {
    color: red;
    border-bottom: 1px solid red;
    padding-bottom: 3px;
}
.section {
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid red;
    padding: 8px;
    text-align: left;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    border-top: 1px solid red;
    margin-top: 30px;
    padding-top: 10px;
    color: gray;
}
